body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
}

#password-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#password-container {
    text-align: center;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#password-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

#password-container input {
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#password-container button {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #f4f4f9;
    color: #333;
    cursor: pointer;
}

#password-container button:hover {
    background: #ddd;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(249, 223, 229, 1);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    font-family: 'Allura', cursive;
}

#overlay h1 {
    margin: 20px;
    font-size: 4em;
    text-align: center;
}

#message-container {
    position: relative;
    width: 100%;
    height: 2em;
    overflow: hidden;
}

#moving-message {
    position: absolute;
    white-space: nowrap;
    font-size: 1.5em;
    color: grey;
    left: 0;
}

.cake-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #f9dfe5;
    color: #000;
    text-align: center;
    font-family: 'Allura', cursive;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#header-content {
    max-width: 600px;
    margin: 0 auto;
}

#header-content h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 3em;
}

#header-content p {
    margin: 0;
    padding-top: 5px;
}

#date-text {
    font-size: 2em;
    font-family: 'Allura', cursive;
}

.balloons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.balloon {
    position: absolute;
    bottom: -10%;
    width: 150px;
}

footer {
    background: #444;
    color: white;
    padding: 10px 20px;
    text-align: center;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background: #333;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Allura', cursive;
    font-size: 1.2em;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f9dfe5;
    padding: 10px 20px;
}

#timer {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: #f9dfe5;
    color: white;
    font-family: 'Allura', cursive;
}

#timer span {
    font-weight: bold;
    color: black;
    font-family: 'Allura', cursive;
    font-size: 48px;
}

.scroll-anim {
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#countdown-section {
    text-align: center;
    margin: 0;
}

#countdown h2 {
    font-family: 'Allura', cursive;
    font-size: 3em;
    padding: 5px 0;
    color: black;
}

#photo-gallery {
    text-align: center;
    padding: 20px;
    background-color: #f9dfe5;
    overflow-x: auto;
    white-space: nowrap;
}

#photo-gallery h2 {
    font-family: 'Allura', cursive;
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.month-section {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #f9dfe5;
}

.month-section h3 {
    font-family: 'Allura', cursive;
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    max-width: 200px;
    max-height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.month-comment {
    font-family: 'Allura', cursive;
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9dfe5;
    border-radius: 10px;
    max-width: calc(100% - 40px);
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.month-section {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.month-section.visible {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 600px) {
    .month-comment {
        font-size: 1em;
    }

    .gallery img {
        max-width: 150px;
        max-height: 100px;
    }
}

#message-section {
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
    background-color: #f9dfe5;
    border-radius: 10px;
    overflow-x: auto;
}

#message-section h2 {
    font-family: 'Allura', cursive;
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

#message-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: 1.5em;
}

#video-section, #friends-section {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#video-section h3, #friends-section h3 {
    font-family: 'Allura', cursive;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#video iframe {
    max-width: 100%;
    border-radius: 10px;
}

#friends {
    font-family: 'Allura', cursive;
    font-size: 1.5em;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-message {
    width: 80%;
    max-width: 1000px;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
}

.friend-message img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.friend-message p {
    font-family: 'Allura', cursive;
    font-size: 1.0em;
    color: #333;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

#past {
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
    background-color: #f9dfe5;
    border-radius: 10px;
    padding-bottom: 60px;
    overflow-x: auto;
    white-space: nowrap;
}

#past h2 {
    font-family: 'Allura', cursive;
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.birthday-section {
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #f9dfe5;
    margin: 0;
    position: relative;
}

.birthday-section h3 {
    font-family: 'Allura', cursive;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.year-label {
    font-family: 'Allura', cursive;
    font-size: 4em;
    color: white;
    font-weight: bold;
    position: absolute;
    top: -25px;
    left: -10px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pictures img {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video {
    margin-top: 20px;
}

.video iframe {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrowfirst {
    font-size: 10em;
    color: white;
    display: block;
    text-align: left;
    margin: -20px 0 0 0;
    line-height: 1;
    padding-left: 30px;
    height: 0.5em;
}

.arrow {
    font-size: 10em;
    color: white;
    display: block;
    text-align: left;
    margin: -20px 0 0 0;
    line-height: 1;
    padding-left: 30px;
}

.arrowlast {
    font-size: 15em;
    color: white;
    display: block;
    text-align: left;
    margin: -50px 0 100 0;
    line-height: 0.05;
    padding-left: 10px;
}

.continue-text {
    font-family: 'Allura', cursive;
    font-size: 4em;
    color: white;
    padding-bottom: 0px;
    text-align: left;
    margin: 125px 0 0 10px;
    font-weight: bold;
}

.continue-text_1 {
    font-family: 'Allura', cursive;
    font-size: 1.5em;
    color: white;
    padding-bottom: 0px;
    text-align: left;
    margin: 0 0 0 10px;
    font-weight: bold;
}
